<div class="container-fluid card register-container">
    <h3 class="text-center mt-2 text-uppercase">Register</h3>
    <hr class="p-0 m-0">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div *ngFor="let message of errorMessage" class="my-3 text-center">
            <p class="text-danger">{{message}}</p>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input class="form-control" type="text" formControlName="firstname" id="firstname" placeholder="Firstname">
            <label for="firstname">Firstname</label>
            <span class="text-danger" *ngIf="(registerFormControls['firstname'].touched || submitted) && registerFormControls['firstname'].errors?.['required']">
                Firstname is required
            </span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" formControlName="lastname" id="lastname" placeholder="Lastname">
            <label for="lastname">Lastname</label>
            <span class="text-danger" *ngIf="(registerFormControls['lastname'].touched || submitted) && registerFormControls['lastname'].errors?.['required']">
                Lastname is required
            </span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email">
            <label for="email">Email</label>
            <span class="text-danger" *ngIf="(registerFormControls['email'].touched || submitted)">
                <span *ngIf="registerFormControls['email'].errors?.['required']">
                    Email is required
                </span>
                <span *ngIf="registerFormControls['email'].errors?.['email']">
                    Invalid email format
                </span>
            </span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" formControlName="password" id="password" placeholder="Password">
            <label for="password">Password</label>
            <span class="text-danger" *ngIf="(registerFormControls['password'].touched || submitted)">
                <span *ngIf="registerFormControls['password'].errors?.['required']">
                    Password is required
                </span>
                <span *ngIf="registerFormControls['password'].errors?.['minlength']">
                    Password should be minimum 8 characters long
                </span>
            </span>
        </div>
        <div class="mb-4 register-button-container">
            <button class="btn btn-primary w-100 mb-3 text-uppercase" type="submit">
                Register
            </button>
            <p>Already have an account?&nbsp;<a href="login">Login</a></p>
        </div>
    </form>
</div>


<!-- <ng-template #fieldError let-key="errorKey">
    <p *ngFor="let msg of formValidationErrors[key]" class="form-error-message">
        *{{ msg }}
    </p>
</ng-template> -->

<app-success-modal></app-success-modal>