<div class="mt-5">
    <nav aria-label="pagination">
        <ul class="pagination-container">
            <li class="pagination-item" *ngIf="!isFirst">
                <!-- The void operator evaluates the given expression and then returns undefined. -->
                <a id="firstPage" href="javascript:void(0)" (click)="goToFirstPage()">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </li>
            <li class="pagination-item" *ngIf="!isFirst">
                <a id="previousPage" href="javascript:void(0)" (click)="goToPreviousPage()">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </li>
            <ng-container *ngFor="let item of [].constructor(totalPages); let i = index">
                <li class="pagination-item" [class.active]="(page == i)">
                    <a href="javascript:void(0)" (click)="goToPage(i)">
                        {{ i + 1 }}
                    </a>
                </li>
            </ng-container>
            <li class="pagination-item" *ngIf="!isLast">
                <a href="javascript:void(0)" (click)="goToNextPage()">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </li>
            <li class="pagination-item" id="lastPageItem" *ngIf="!isLast">
                <a href="javascript:void(0)" (click)="goToLastPage()">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>